.navbar{
    background-color: rgba(0, 0, 0, 0.504);
    z-index: 100;
    /* -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px); */
    height:10vh;
    width:100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
}

.navlist{
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    padding-left:3% ; 
    padding-right:3%;

}


.navli{
    padding: 2rem;
    display: flex;
    align-items: center;

    
}
.navli a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* font-family: "ClashDisplay-Medium", sans-serif; */
    font-family: "Montserrat", sans-serif;
    font-weight: 700;


}
.navli a:hover{
    text-decoration: none;
    color: rgb(255, 0, 0);
    /* font-family: "ClashDisplay-Medium", sans-serif; */
    font-family: "Montserrat", sans-serif;
    font-weight: 700;


}


#book_button a{
    border: 3px solid #ffffff;
    color: rgb(255, 255, 255);
    padding: 0.7rem;

    
}
#book_button a:hover{
    border: 3px solid #ff0000;
    color: rgb(255, 0, 0);
    padding: 0.7rem;
   

    
}

.navlogo img{
    height: 100%; 
    margin-left: 5vw;
}

.toggle-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
  }